<% provide(:title, "Home") %>
<!-- Capture Section after navigation bar -->
<section class="container-fluid" id="capture">

</section>

<!-- Section for content -->
<section class="container">
    <h1>Pages#index</h1>
    <p>Find me in app/views/pages/index.html.erb</p>
</section>